- after_login_redirect_to = request.original_url

- if params[:iref] # iref is
  - after_login_redirect_to = URI.decode(params[:iref]) # todo: put this in controller

- custom_domain = ""

- facebook_url =  custom_domain + use_provider_path("facebook", :iref => after_login_redirect_to)
- google_url = custom_domain + use_provider_path("google_oauth2", :iref => after_login_redirect_to)


= link_to facebook_url, class: "btn btn-lg btn-block bg-color-fb" do
  = "Facebook"

= link_to google_url, class: "btn btn-lg btn-block bg-color-gplus" do
  = "Google"


