.container
  #wrapper
    %h1= "Hvala!"
    .content
      = 'Obvestili te bomo, ko bo kdo od uporabnikov potreboval pomoč.'

    = link_to 'Potrebuješ pomoč ti?', '#', class: 'btn btn-lg btn-primary'

