@import "base";
@import "bootstrap";
@import "fontello";

body {
  background: image-url("background.jpg")  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form, .login-strategies-container {
  margin-bottom: 15px;
}

.btn-facebook, .btn-gplus {
  &.btn-facebook {
    background-color: #3b5998;
  }
  &.btn-gplus {
    background-color: #e14d33;
  }
}

#wrapper {
  background: white;
  padding: 30px;
  margin-top: 30px;
  border-radius: 20px;
}

#registerJumbotron {
  margin-top: 10%;
}
